//.nav{
//    @include img('../img/1.jpg');
//    height: 65rem;
//}
.absolute{
    width: 100%;
    background-color: #fafafa;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px); //Solo finciona si se tiene el RGBA
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transform: 0.5s;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    .logo{
        color: $colorBotones-Icons;
        font-size: calc($separacion / 2);
    }
    .nav-container__btns{
        display: flex;
        align-items: center;
        gap: calc($separacion / 2);
        .nav__btn{
            color: $negro;
            font-weight: $medium;
            &:last-of-type{
                color: $blanco;
                font-weight: $medium;
                letter-spacing: 0.05rem;
            }
        }
    }
}
.nav__btn--blue{
    box-shadow: 0px 5px 13px 0px rgba(8, 41, 177, 0.5);
    @include btn;
}