@mixin telefono {
    @media (min-width: $telefono) and (max-width: $tablet) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) and (max-width: $desktop){
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin btn {
    color: $blanco;
    padding: 1.5rem 3.3rem 1.5rem 3.3rem;
    background-color: $colorImg;
    border-radius: 0.5rem;
    transition: all 100ms ease-in-out;
    &:hover{
        background-color: $colorImg;
        cursor: pointer;
    }
}

@mixin img($url) {
    background-image: url($url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin logo($url) {
    background-image: url($url);
    background-size: cover;
    width: 1.6rem;
    height: 1.6rem;
}
@mixin logo-card($url) {
    background-image: url($url);
    background-size: cover;
    width: 2.4rem;
    height: 2.4rem;
}
@mixin iconContainer {
    background-color: $colorLogoBg;
    padding: 0.2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}
@mixin iconContainer-card {
    background-color: $colorLogoBg;
    padding: 1rem;
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 3px solid $blanco;
}

