$fuente: 'Roboto', sans-serif;

// Fuentes
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// Colores
$colorFondo: #F2F4F8;
$colorImg: #164DBC;
$colorSombras: #242527;
$colorText: #9498A5;
$colorBotones-Icons: #0829B1;
$colorSubtitles: #333751;
$colorIcon-amarillo: #FFE788ff;
$colorIcon-amarillo__fondo: #FFF9E4ff;

$blanco: #ffffff;
$negro: #000000;

// Media Queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1200px;

// Margenes
$separacion: 5rem;